body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}
.pattern{
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.pattern .face{
    width: 100%;
    height: 50vh;
    background: linear-gradient(45deg, #262626 25%, transparent 25%),
                linear-gradient(-45deg, #262626 25%, transparent 25%),
                linear-gradient(45deg, transparent 75%, #262626 75%),
                linear-gradient(-45deg, transparent 75%, #262626 75%);
    background-size: 100px 100px;
    background-position: 0 0, 0 50px, 50px -50px, -48px 0;
}
.patter .face.face1{
    box-shadow: inset 0 -50px 200px rgb(0, 0, 0, .5);
}
.pattern .face.face2{
    height: 100vh;
    transform-origin: top;
    transform: rotateX(65deg);/*Increase deg to show depth of the room*/
    box-shadow: inset 0 50px 200px rgba(0, 0, 0, .5);
}